/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
  
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
  
::-webkit-scrollbar-corner {
  background-color: transparent;
}
  
::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/* 鼠标样式 */
body {
  cursor: url(https://img.jcxiaozhan.top/default.cur),
      default;
}

a,img {
    cursor: url(https://img.jcxiaozhan.top/pointer.cur),
        default;
}

/* 社交小图标 */
.fa-qq{
  color: #10a4ff;
}

.fa-envelope{
  color: #FFA500;
}

/* 页脚版权美化 */
#footer .framework-info a{
  padding: 0px 4px 2px 4px;
  border-radius: 20px;
  background:#ff7242;
}

#footer .framework-info a:nth-child(2){
  padding: 0px 4px 2px 4px;
  border-radius: 20px;
  background:#49b1f5;
}

/* 说说自定义配色 */
#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
  background: #333030;
  color: #e3dede;
}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel {
  background: #333030;
  color: #e3dede;
}
#artitalk_main .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color:  #333030;
}
#artitalk_main .cbp_tmtimeline>li .cbp_tmlabel:after {
  border-right-color:  #333030;
}
#artitalk_main .button {
  background: #333030;
  color: #e3dede;
}
#artitalk_main button#readmore.at_button{
    background: #333030;
    color: #e3dede;
}
#artitalk_main button#readmore.at_button:hover{
    background: #787878;
}